{% extends 'base.html.twig' %}

{% block title %}Mon panier - La boutik{% endblock %}

{% block content %}
    <h1>Mon panier</h1>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.
    {% if cart|length > 0 %}
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col"></th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% set total = null %}
        {% for product in cart %}
            <tr>
                <th scope="row">
                    <img src="{{ asset('uploads/illustrations/'~product.product.illustration) }}" alt="{{ product.product.name }}" height="70px"/> </br>
                </th>
                <td>
                    {{ product.product.name }} <br>
                    <small>{{ product.product.subtitle }}</small>
                </td>
                <td>
                    <a href="{{ path('cart_decrease', { 'id': product.product.id}) }}" title="Supprimer un produit">
                        <img src="{{ asset('build/images/minus.png') }}" height="12px" alt="Supprimer un produit">
                    </a>
                    x {{ product.quantity }}
                    <a href="{{ path('cart_add', { 'id': product.product.id}) }}" title="Ajouter un produit">
                        <img src="{{ asset('build/images/add.png') }}" height="12px" alt="Ajouter un produit">
                    </a>
                </td>
                <td>{{ (product.product.price/100)|number_format(2, ',', '.') }} &euro;</td>
                <td>{{ (product.product.price/100 * product.quantity)|number_format(2, ',', '.') }} &euro;</td>
                <td>
                    <a href="{{ path('cart_delete', { 'id': product.product.id}) }}" title="Supprimer mon produit">
                        <img src="{{ asset('build/images/delete.png') }}" height="18px" alt="Supprimer mon produit">
                    </a>
                </td>
            </tr>
            {% set total = total + (product.product.price * product.quantity)%}
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right mb-5">
        <b>Nombre de produits: </b> {{ cart|length }}<br>
        <b>Total du panier: </b>{{ (total/100)|number_format(2, ',', '.') }}
        <a  href="{{ path('order') }}" class="btn btn-success btn-block mt-3">Valider mon panier</a>
    </div>
    {% else %}
        <hr>
        <b>Votre panier est vide.</b>
    {% endif %}
{% endblock %}
