{% extends'base.html.twig' %}
{% block Title %}Modifier mon mot de passe {% endblock %}
{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <h1>Modifier mont mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
