{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - MyShop{% endblock %}

{% block content %}
    <h2>Erreur de paiement</h2>
    <p>
        Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>, <br/>
        Il semblerait que votre paiement ai échouée pour votre commande <strong>{{ order.reference }}</strong>. <br/>
        Une confirmation d'erreur vient de vous être envoyé à l'adresse <strong>{{ order.user.email }}</strong>.
    </p>
    <hr>

    <a class="btn btn-success" href="{{ path('order') }}" title="Réessayer le paiement">Réessayer le paiement</a>

{% endblock %}
