{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de ma commande - La boutik{% endblock %}
{% block javascript_head %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block content %}
    <h2>Récapitulatif de ma commande</h2>
    <p>Vérifiez vos informations avant de payer votre commande</p>
    <div class="row">
        <div class="col-6">
            <strong>Mon adresse de livraison </strong><br/>
            <div class="form-check mt-3">
                {{ delivery|raw }}
            </div>
            <hr>
            <strong>Tranporteur </strong><br/>
            <div class="form-check mt-3">
                {{ carrier.name }}<br/>
                {{ carrier.description }}<br/>
                {{ (carrier.price/100)|number_format(2, ',', '.') }} &euro;
            </div>
        </div>
        <div class="col-6">
            <div class="text-center">
                <p>Retrouvez le récapitulatif de vos produits</p>
            </div>
            <div class="order-summary">
                {% set total = null %}
                {% for key,product in cart %}
                    <div class="row {%  if key > 0 %}mt-2{% endif %}">
                        <div class="col-2">
                            <img src="{{ asset('uploads/illustrations/'~product.product.illustration) }}" alt="{{ product.product.name }}" height="70px"/> </br>
                        </div>
                        <div class="col-8 my-auto">
                            {{ product.product.name }}<br/>
                            <small>{{ product.product.subtitle }}</small><br/>
                            x {{ product.quantity }}
                        </div>
                        <div class="col-2 my-auto">
                            {{ (product.product.price/100 * product.quantity)|number_format(2, ',', '.') }} &euro;
                        </div>
                    </div>
                    {% set total = total + (product.product.price * product.quantity)%}
                {% endfor %}
            </div>
            <hr>
            <strong>Sous-Total: </strong> {{ (total/100)|number_format(2, ',', '.') }} &euro;<br/>
            <strong>Livraison: </strong>{{ (carrier.price/100)|number_format(2, ',', '.')}} &euro;
            <hr>
            <strong>Total: </strong>{{ ((total/100)+(carrier.price/100))|number_format(2, ',', '.') }} &euro;
            <a class="btn btn-success btn-block mt-3" id="checkout-button">Payer {{ ((total/100)+(carrier.price/100))|number_format(2, ',', '.') }} &euro;</a>
        </div>

    </div>
{% endblock %}
{% block javascripts_additionnals %}
<script type="text/javascript">
    var stripe = Stripe("pk_test_51IIznSGgKy58y8efcMZnxNK4KtRvNwdefP9jHG35gTIqoEmK1pn5oNFyexSc1OQbt2niYLxmBZZfgVeTPURfDbbH00MYeaqaQy");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        fetch("/order/stripe-create-session/{{ reference }}", {
            method: "POST",
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (session) {
            if(session.order === 'order'){
                //redirection
                window.location.replace("{{ path('order') }}");
            }else{
                return stripe.redirectToCheckout({ sessionId: session.id });
            }
        })
        .then(function (result) {
            // If redirectToCheckout fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using error.message.
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
});
</script>
{% endblock %}
